.results_navbar_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 75%;
}