.docs_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 10px 0px 0px 0px;
}

.docs_sub_container {
  padding: 0px 0px 0px 15px;
  width: 100%;
}

.docs_sub_wrapper {
  padding: 10px 0px 10px 0px;
  width: 100%;
}