@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoItalic";
  src: url("./Roboto-Italic.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoThin";
  src: url("./Roboto-Thin.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoThinItalic";
  src: url("./Roboto-ThinItalic.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoLight";
  src: url("./Roboto-Light.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url("./Roboto-LightItalic.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./Roboto-Medium.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoMediumItalic";
  src: url("./Roboto-MediumItalic.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoBold";
  src: url("./Roboto-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoBoldItalic";
  src: url("./Roboto-BoldItalic.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoBlack";
  src: url("./Roboto-Black.ttf") format("truetype")
}

@font-face {
  font-family: "RobotoBlackItalic";
  src: url("./Roboto-BlackItalic.ttf") format("truetype")
}