.empty_wrapper {
  width: 100wh !important;
  min-height: calc(100vh - 165px);
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}