.nav_bar_button_disabled {
  animation: none;
  transition: none;
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  background: rgba(174, 174, 174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: not-allowed;
  margin: 0px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px 30px;
  word-spacing: normal;
}