.results_answer_header {
  animation: fade_in .25s ease-in-out 1;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px 5px 0px 0px;
  color: rgba(50, 50, 50, 1);
  /* background: rgba(50, 50, 50, 1); */
  margin: 1px 1px 0px 1px;
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.results_answer_header h3 {
  animation: fade_in .25s ease-in-out 1;
  font: 600 30pt 'LatoThin', sans-serif;
  padding: 0px 0px 15px 0px;

}