.results_answer_header {
  animation: fade_in.25s ease-in-out 1;
  padding: 10px 0px 10px 0px;
  background: rgba(255,255,255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.results_answer_header h3 {
  animation: fade_in .25s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 22pt 'Lato', sans-serif;
}