.default_form_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.default_form_header {

}

.default_form_header h2 {
  color: rgba(255, 255, 255, 1);
  font: 300 12pt 'PoppinsLight', sans-serif;
  text-align: center;
}

.default_form_header h3 {
  color: rgba(50, 50, 50, 1);
  font-family: 'PoppinsLight';
  font-size: 10pt;
  font-weight: 600;
  padding: 10px 0px;
  text-align: center;
}

.default_input_container {
  width: 100%;
  padding: 0px 0px 5px 0px;
}

.default_input_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.default_input_sub_container h3,
.default_image_sub_container h3 {
  color: rgba(255, 255, 255, 1);
  font: 300 12pt 'PoppinsLight', sans-serif;
  text-align: center;
}

.default_image_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
