.edit_profile_form {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
  padding: 0px 1px;
}

.edit_profile_input_container {
  width: 100%;
}

.edit_profile_input_sub_container {
  background-color: rgba(255, 255, 255, 1);
  /* border-radius: 5px 5px 0px 0px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 5px 15px;
  width: 100%;
}

.edit_profile_input_sub_container h3,
.edit_profile_image_sub_container h3 {
  color: rgba(50, 50, 50, 1);
  font: 300 12pt 'PoppinsLight', sans-serif;
  text-align: left;
  width: 100%;
}

.edit_profile_image_sub_container {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
}
