.sign_up_form {
  margin: 10px 10px 0px 10px;
  /* width: 100%; */
}

.sign_up_input_container {
  width: 100%;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.sign_up_input_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.sign_up_image_sub_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  padding: 2.5px 0px;
  width: 100%;
}

.sign_up_tos_container {
  padding: 0px 0px 10px 0px;
  width: 100%;
}

.sign_up_tos_sub_container {
  /* background-color: rgba(255, 255, 255, 1); */
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px 0px;
  width: 75%;
}

/* .sign_up_tos_sub_container {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 10px 0px;
  width: 75%;
} */

.sign_up_input_sub_container h3,
.sign_up_image_sub_container h3 {
  color: rgba(255, 255, 255, 1);
  font: 300 12pt 'PoppinsLight', sans-serif;
  text-align: center;
}

.sign_up_tos_sub_container p {
  font: 300 10pt 'Lato';
  text-align: justify;
  width: 75%;
}

.sign_up_tos_sub_container a,
.sign_up_tos_sub_container_disabled a {
  color: rgba(4, 108, 196, 1);
  margin: 0px;
  text-decoration: none;
}

.sign_up_tos_sub_container a:active,
.sign_up_tos_sub_container a:hover,
.sign_up_tos_sub_container a:visited,
.sign_up_tos_sub_container_disabled a:active,
.sign_up_tos_sub_container_disabled a:hover,
.sign_up_tos_sub_container_disabled a:visited {
  color: rgba(244, 166, 66, 1);
  margin: 0px;
  text-decoration: none;
  transition-property: color;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out;
}

