.edit_comment_button {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 51, 1), rgba(0, 0, 102, 1));
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 10pt 'PoppinsLight', sans-serif;
  margin: 0px 5px;
  padding: 2.5px 5px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  width: 50px;
}

.edit_comment_button_active {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
  font: 300 10pt 'PoppinsLight', sans-serif;
  margin: 0px 5px;
  padding: 2.5px 5px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  width: 50px;
}

.edit_comment_button_disabled {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  font: 100 10pt 'PoppinsLight', sans-serif;
  margin: 0px 5px;
  padding: 2.5px 5px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  width: 50px;
}

.edit_comment_button:hover,
.edit_comment_button_active:hover {
  color: rgba(50, 50, 50, 1);
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 10pt 'PoppinsLight', sans-serif;
  transition: background-color, border-radius .2s ease-in-out 0s;
}

.edit_comment_button img,
.edit_comment_button_active img {
  width: 20px;
  height: 20px;
}

.edit_comment_button span,
.edit_comment_button_active span {
  align-self: stretch;
}

.edit_comment_button:active span,
.edit_comment_button_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 10pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.edit_comment_button:active img,
.edit_comment_button_active:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}