.footer_logo_button {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* height: 50px; */
  margin: 5px 0px 5px 0px;
  padding: 0px 10px 0px 10px;
}



.footer_logo_button {
  -webkit-appearance: none;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgba(50, 50, 50, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  padding: 5px 15px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.footer_logo_button_active {
  -webkit-appearance: none;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(244, 166, 66, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  padding: 5px 15px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.footer_logo_button_disabled {
  -webkit-appearance: none;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  font: 100 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.footer_logo_button:hover,
.footer_logo_button_active:hover {
  cursor: pointer;
  background-color: rgba(244, 166, 66, 1);
  border-radius: 5px;
  padding: 5px 15px;
  width: 100%;
  min-width: 75px;
  max-width: 250px;
  height: auto;
  outline: -webkit-focus-ring-color auto 0px;
  transition: background-color .2s ease-in-out 0s;
}

.footer_logo_button img,
.footer_logo_button_active img {
  padding: 10px;
  width: 100%;
  min-width: 75px;
  max-width: 250px;
  height: auto;
}

.footer_logo_button span,
.footer_logo_button_active span {
  align-self: stretch;
}

.footer_logo_button:active span,
.footer_logo_button_active:active span {
  cursor: pointer;
  background-color: rgba(244, 166, 66, 1);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  min-width: 75px;
  max-width: 250px;
  height: auto;
  outline: -webkit-focus-ring-color auto 0px;
  transition: background-color .2s ease-in-out 0s;
}

.footer_logo_button:active img,
.footer_logo_button_active:active img {
  padding: 10px;
  width: 100%;
  min-width: 75px;
  max-width: 250px;
  height: auto;
  opacity: 0;
  transform: translate(0px, -15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}