.footer_link_container {
  border: 0px solid black;
  box-sizing: border-box;
  height: 100%;
}

.footer_link {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  background: rgba(50, 50, 50, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 9pt 'PoppinsLight', sans-serif;
  margin: 0px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
}

.footer_link_disabled {
  animation: none;
  background: rgba(175, 175, 175, 0);
  color: rgb(225, 225, 225, 0);
  cursor: default;
  opacity: 0;
  transition: none;
}

.footer_link_active {
  background-color: rgba(244, 166, 66, 1);
  border-radius: 5px;
  color: rgba(50, 50, 50, 1);
  font: 600 9pt 'PoppinsLight', sans-serif;
}

.footer_link:hover,
.footer_link_active:hover {
  color: rgba(50, 50, 50, 1);
  background: rgba(244, 166, 66, 1);
  border-radius: 5px;
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 9pt 'PoppinsLight', sans-serif;
  transition: border-radius .25s ease-in-out 0s;
}

.footer_link span,
.footer_link_active span {
  align-self: stretch;
}

.footer_link:active span,
.footer_link_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 9pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.footer_link img,
.footer_link_active img {
  width: 20px;
  height: 20px;
}

.footer_link:active img,
.footer_link_active:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}