.game_modes_button_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px solid black;
  box-sizing: border-box;
  margin: 5px;
  height: 100%;
  width: fit-content;
}

.game_modes_button {
  -webkit-appearance: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 51, 1), rgba(0, 0, 102, 1));
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  margin: 0px;
  min-width: 150px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
}

.game_modes_button_active {
  -webkit-appearance: none;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  margin: 0px;
  min-width: 150px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
}

.game_modes_button_disabled {
  background: rgba(174,174,174, 0);
  color: rgb(235, 235, 235, 0);
  -webkit-appearance: none;
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  margin: 0px;
  min-width: 150px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
}

.game_modes_button:hover,
.game_modes_button_active:hover {
  color: rgba(50, 50, 50, 1);
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 12pt 'PoppinsLight', sans-serif;
  min-width: 150px;
  transition: background-color, border-radius .2s ease-in-out 0s;
}

.game_modes_button img,
.game_modes_button_active img {
  width: 20px;
  height: 20px;
}

.game_modes_button span,
.game_modes_button_active span {
  align-self: stretch;
}

.game_modes_button:active span,
.game_modes_button_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.game_modes_button:active img,
.game_modes_button_active:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}