.header_profile_button {
  -webkit-appearance: none;
  background: rgba(50, 50, 50, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: flex;
  font: 300 12pt 'PoppinsLight', sans-serif;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  height: 100%;
}

.header_profile_button_disabled {
  animation: none;
  background: rgba(175, 175, 175, 0);
  color: rgb(225, 225, 225, 0);
  cursor: default;
  opacity: 0;
  transition: none;
}

.header_profile_button_active {
  background: rgba(244, 166, 66, 1);
  color: rgba(50, 50, 50, 1);
  font: 600 12pt 'PoppinsLight', sans-serif;
}

.header_profile_button:hover,
.header_profile_button_active:hover {
  background: rgba(244, 166, 66, 1);
  color: rgba(50, 50, 50, 1);
  border-radius: 5px;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transition: border-radius .25s ease-in-out 0s;
}

.header_profile_button span,
.header_profile_button_active span {
  align-self: stretch;
}

.header_profile_button:active span,
.header_profile_button_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.header_profile_button img,
.header_profile_button_active img {
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.header_profile_button:active img,
.header_profile_button_active:active img {
  border-radius: 10px;
  height: 20px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  width: 20px;
}