.home_button_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  box-sizing: border-box;
  margin: 5px;
  width: 50%;
}

.home_help_button_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  box-sizing: border-box;
}

.home_button {
  -webkit-appearance: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 51, 1), rgba(0, 0, 102, 1));
  border: 0px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 14pt 'PoppinsLight', sans-serif;
  margin: 0px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  word-spacing: normal;
  width: 100%;
}

.home_button_active {
  -webkit-appearance: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
  font: 300 14pt 'PoppinsLight', sans-serif;
  margin: 0px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  word-spacing: normal;
  width: 100%;
}

.home_button_disabled {
  -webkit-appearance: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  font: 100 14pt 'PoppinsLight', sans-serif;
  margin: 0px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px 20px;
  word-spacing: normal;
  width: 100%;
}

.home_button:hover,
.home_button_active:hover {
  color: rgba(50, 50, 50, 1);
  background-color: rgba(244, 166, 66, 1);
  border: 0px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  font: 600 14pt 'PoppinsLight', sans-serif;
  transition: color, background-color .2s ease-in-out 0s;
  width: 100%;
}

.home_button img,
.home_button_active img {
  width: 20px;
  height: 20px;
}

.home_button span,
.home_button_active span {
  align-self: stretch;
  min-width: 60px;

}

.home_button:active span,
.home_button_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 14pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  min-width: 60px;
  outline: -webkit-focus-ring-color auto 0px;
}

.home_button:active img,
.home_button_active:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}