.modal_button {
  -webkit-appearance: none;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgba(50, 50, 50, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.modal_button_active {
  -webkit-appearance: none;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(244, 166, 66, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  padding: 10px 20px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.modal_button_disabled {
  -webkit-appearance: none;
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  font: 100 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.modal_button:hover {
  color: rgba(50, 50, 50, 1);
  background-color: rgba(244, 166, 66, 1);
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transition: background-color .2s ease-in-out 0s;
}

.modal_button img,
.modal_button_active img {
  width: 20px;
  height: 20px;
}

.modal_button span,
.modal_button_active span {
  align-self: stretch;
}

.modal_button:active span,
.modal_button_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.modal_button:active img,
.modal_button_active:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}