.nav_bar_button {
  -webkit-appearance: none;
  align-items: center;
  background: rgba(50, 50, 50, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: inline-block;
  letter-spacing: normal;
  margin: 0px;
  padding: 10px 30px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.nav_bar_button a {
}

.nav_bar_button img {
  width: 30px;
  height: 30px;
}

.nav_bar_button span {
  align-self: stretch;
}

.nav_bar_button:hover {
  background-color: rgba(244, 166, 66, 1);
  border: 0px solid black;
  box-sizing: border-box;
  padding: 10px 30px;
  transition: background-color .2s ease-in-out 0s;
}

.nav_bar_button:hover span {
  color: rgba(50, 50, 50, 1);
}

.nav_bar_button:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.nav_bar_button:active img {
  width: 30px;
  height: 30px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.nav_bar_button_active {
  animation: none;
  transition: none;
  opacity: 1;
  padding: 10px 30px;
  transform: translate(0px, 0px);
  background: rgba(245, 167, 66, 1);
  color: rgba(50, 50, 50, 1);
  cursor: default;
}

.nav_bar_button_active:hover, .nav_bar_button_active:active {
  animation: none;
  transition: none;
  opacity: 1;
  transform: translate(0px, 0px);
  background: rgba(245, 167, 66, 1);
  color: rgba(50, 50, 50, 1);
  cursor: default;
}

.nav_bar_button_active:hover span,
.nav_bar_button_active:active span {
  animation: none;
  transition: none;
  opacity: 1;
  transform: translate(0px, 0px);
  color: rgba(50, 50, 50, 1);
  cursor: default;
}

.nav_bar_button_disabled {
  animation: none;
  transition: none;
  -webkit-appearance: none;
  align-items: center;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  display: inline-block;
  letter-spacing: normal;
  margin: 0px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}