.question_card_choice_button_container {
  border: 0px solid black;
  box-sizing: border-box;
  margin: 5px;
  height: 100%;
}

.question_card_choice_button {
  animation: fade_in .5s ease-in-out 1;
  -webkit-appearance: none;
  background: rgba(0, 0, 102, 1);
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-weight: 300;
  padding: 5px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  word-spacing: normal;
  height: 50px;
}

.question_card_choice_button_active {
  -webkit-appearance: none;
  background: rgba(244, 166, 66, 1);
  border: 0px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgba(50, 50, 50, 1);
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  word-spacing: normal;
  height: 50px;

}

.question_card_choice_button_disabled {
  -webkit-appearance: none;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  font-weight: 300;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  word-spacing: normal;
  width: 100%;
}

.question_card_choice_button:hover,
.question_card_choice_button_active:hover {
  color: rgba(50, 50, 50, 1);
  background: rgba(244, 166, 66, 1);
  border: 0px solid black;
  box-sizing: border-box;
  font-weight: 600;
  padding: 5px;
  transition: background-color .2s ease-in-out 0s;
}

.question_card_choice_button img,
.question_card_choice_button_active img {
  width: 20px;
  height: 20px;
}

.question_card_choice_button span,
.question_card_choice_button_active span {
  align-self: stretch;
  font-family: 'PoppinsLight';
  font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1920 - 360)));
}

.question_card_choice_button:active span,
.question_card_choice_button_active:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font-family: 'PoppinsLight';
  font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1920 - 360)));
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}