.header_button2 {
  text-align: center;
  background: rgba(50, 50, 50, 1);
  color: #FFF;
  font: 300 12pt 'PoppinsLight', sans-serif;
  padding: 17px 20px 16px 20px;
  text-decoration: none;
  border: 0px solid rgb(175, 175, 175, 1);
  max-height: 57px;
  min-width: 150px;
  outline: -webkit-focus-ring-color auto 0px;
}

.header_button2:hover {
  cursor: pointer;
  color: rgb(40, 44, 52, 1);
  background: rgba(244, 166, 66, 1);
  border: 0px solid rgba(175, 175, 175, 1);
}

.header_button2:active {
  background: rgba(245, 167, 66, 1);
  border: 0px solid rgba(175, 175, 175, 1);
}