.user_profile_header_date_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user_profile_header_date_sub_container {
  margin: 5px 0px;
}

.user_profile_header_date_sub_container h4 {
  font-family: 'PoppinsLight';
  font-size: 12pt;
  font-weight: 300;
}

.user_profile_header_date_sub_container h5 {
  font-family: 'LatoItalic';
  font-size: 9pt;
  font-weight: 300;
}