.nav_bar_tooltip_container {
  height: 0px;
  width: 0px;
  animation: nav_bar_tooltip_fade_in .2s ease-in-out 0s 1;
}

@keyframes nav_bar_tooltip_fade_in {
  0% {
    opacity: 0;
  };
  50% {
    opacity: 0;
  };
  100% {
    opacity: 1;
  };
}

.nav_bar_tooltip_wrapper {
  position: relative;
  top: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
}

.nav_bar_tooltip_arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(244, 166, 66, 1);
  height: 10px;
  width: 10px;
}

.nav_bar_tooltip_text {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 250px;
}

.nav_bar_tooltip_wrapper span {
  background-color: rgba(244, 166, 66, 1);
  border-radius: 2.5px;
  color: rgba(40, 44, 52, 1);
  font: 600 10pt 'Poppins', 'sans-serif';
  padding: 2.5px 5px;
}