.leader_boards_scores_row {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'LatoLight';
  font-size: 10pt;
  font-weight: 600;
  color: rgba(100, 100, 100, 1);
  background: rgba(255, 255, 255, 1);
  border: 0px;
  padding: 2.5px 25px 2.5px 15px;
  margin: 0px auto;
  outline: -webkit-focus-ring-color auto 0px;
  animation: leaderboard_row_fade_in .25s ease-in-out 0s 1;
}

@keyframes leaderboard_row_fade_in {
  0% { opacity: 0; };
  100% { opacity: 1; };
}

.leader_boards_scores_row_blank {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'LatoLight';
  font-size: 10pt;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 1);
  border: 0px;
  padding: 2.5px 25px 2.5px 5px;
}

.leader_boards_scores_row_sub_blank {
  flex-grow: 2;
  display: flex;
}

.leader_boards_scores_row_sub_blank_span {
  padding: 2.5px 0px;
  text-align: center;
  font: 600 10pt "LatoLight";
}

.leader_boards_scores_row:hover,
.leader_boards_scores_row_left:hover,
.leader_boards_scores_row_left span:hover {
  color: rgba(50, 50, 50, 1);
  font-family: 'LatoLight';
  font-size: 10pt;
  font-weight: 600;
  border-radius: 5px;
  transition: width .1s ease-in-out;
  background: rgba(244, 166, 66, 1);
  width: 99%;
  cursor: pointer;
}

.leader_boards_scores_row_left {
  flex-grow: 2;
  display: flex;
}

.leader_boards_scores_row_left span {
  padding: 2.5px 0px;
  text-align: center;
}

@keyframes leaderboard_row_left_slide_in {
  0% { transform: translateX(-20px); };
  100% { transform: translateX(0px); };
}

.leader_boards_scores_row_img_flag {
  margin-right: 10%;
}

.leader_boards_scores_row_img_avatar {
  width: 15px;
  height: auto;
  margin-left: 10%;
}

.leader_boards_scores_row_left span:nth-child(1) {
  min-width: 17.5px;
  width: 1%;
  padding-right: 0em;
  text-align: left;
}

.leader_boards_scores_row_left span:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  width: 1.5%;
  margin: 0em 1%;
}

.leader_boards_scores_row_left span:nth-child(3) {
  min-width: 90px;
  width: 35%;
  text-align: left;
  padding-left: .25em;
  flex-grow: 2;
}

.leader_boards_scores_row_right span {
  text-align: center;
}

@keyframes leaderboard_row_right_slide_in {
  0% { transform: translateX(25px); };
  100% { transform: translateX(0px); };
}
