.leader_boards_scores_row_container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'LatoLight';
  font-size: 10pt;
  font-weight: 600;
  color: rgba(100, 100, 100, 1);
  background: rgba(255, 255, 255, 1);
  border: 0px;
  padding: 2.5px 25px 2.5px 15px;
  margin: 1px auto;
  outline: -webkit-focus-ring-color auto 0px;
  animation: leaderboard_row_fade_in .25s ease-in-out 0s 1;
}

.leader_boards_scores_row_container_top {
  margin: 0px auto 1px auto;
}

.leader_boards_scores_row_container_bottom {
  margin: 1px auto 0px auto;
}

@keyframes leaderboard_row_fade_in {
  0% { opacity: 0; };
  100% { opacity: 1; };
}

.leader_boards_scores_row_container:hover {
  padding: 2.5px 30px 2.5px 20px;
  background: rgba(244, 166, 66, 1);
  border-radius: 5px;
  cursor: pointer;
  color: rgba(50, 50, 50, 1);
  font-family: 'Lato';
  font-size: 10pt;
  font-weight: 600;
  transition: padding .1s ease-in-out;
}