.leader_boards_scores_row_container_left {
  flex-grow: 2;
  display: flex;
}

.leader_boards_scores_row_container_left span {
  padding: 2.5px 0px;
  text-align: center;
}

@keyframes leaderboard_row_left_slide_in {
  0% { transform: translateX(-20px); };
  100% { transform: translateX(0px); };
}

.leader_boards_scores_row_container_left_img_flag {
  margin-right: 10%;
}

.leader_boards_scores_row_container_left_img_avatar {
  width: 15px;
  height: auto;
  margin-left: 10%;
}

.leader_boards_scores_row_container_left span:nth-child(1) {
  min-width: 17.5px;
  width: 1%;
  padding-right: 0em;
  text-align: left;
}

.leader_boards_scores_row_container_left span:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  width: 1.5%;
  margin: 0em 1%;
}

.leader_boards_scores_row_container_left span:nth-child(3) {
  min-width: 90px;
  width: 35%;
  text-align: left;
  padding-left: .25em;
  flex-grow: 2;
}

.leader_boards_scores_row_container_right span {
  text-align: center;
}

@keyframes leaderboard_row_right_slide_in {
  0% { transform: translateX(25px); };
  100% { transform: translateX(0px); };
}
