select:not(:-internal-list-box) {
  overflow: hidden !important;
}

.delete_profile_wrapper {
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}