@media only screen and (max-width: 768px) {

  .delete_profile_modal {
    width: calc(300px + (500 - 300) * ((100vw - 360px) / (769 - 360)));
  }

  .delete_profile_input_sub_container input,
  .delete_profile_input_sub_container input:disabled {
    width: calc(250px + (400 - 250) * ((100vw - 360px) / (769 - 360)));
  }

  .delete_profile_form_error {
    width: calc(250px + (400 - 250) * ((100vw - 360px) / (769 - 360)));
  }

  .delete_profile_form_error span {
    font-family: 'Roboto';
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (769 - 360)));
    font-weight: 300;
  }

}