.default_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.completed_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.add_comment_button_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0px 0px 10px 0px;
}

.edit_comment_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 0px 10px 0px;
}

.next_question_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.game_modes_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.cat_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.diff_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.default_button_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  border: 0px solid black;
  box-sizing: border-box;
}