@media only screen and (max-width: 2560px) {

}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

  .nav_bar_button_container {
    width: inherit;
  }

  .nav_bar_container {
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    width: calc(330px + (700 - 330) * ((100vw - 360px) / (769 - 360)));
  }

  .nav_bar_button_left,
  .nav_bar_button_left_active {
    width: 100%;
    padding: 15px;
  }

  .nav_bar_button_left,
  .nav_bar_button_left:hover,
  .nav_bar_button_left_active,
  .nav_bar_button_left_active:hover,
  .nav_bar_button_middle,
  .nav_bar_button_middle:hover,
  .nav_bar_button_middle_active,
  .nav_bar_button_middle_active:hover,
  .nav_bar_button_right,
  .nav_bar_button_right:hover,
  .nav_bar_button_right_active,
  .nav_bar_button_right_active:hover {
    width: 100%;
    padding: 15px;
  }

  .nav_bar_button_left img,
  .nav_bar_button_left_active img,
  .nav_bar_button_left_active:hover img,
  .nav_bar_button_left:active:hover img,
  .nav_bar_button_middle img,
  .nav_bar_button_middle_active img,
  .nav_bar_button_middle_active:hover img,
  .nav_bar_button_middle:active:hover img,
  .nav_bar_button_right img,
  .nav_bar_button_right_active img,
  .nav_bar_button_right_active:hover img,
  .nav_bar_button_right:active:hover img {
    width: 25px;
    height: 25px;
  }

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 360px) {

}