.delete_profile_input_sub_container input {
  border: 0px solid rgba(200, 200, 200, 1);
  border-radius: 5px;
  display: flex;
  font: 400 12px "Lato", sans-serif;
  max-width: 350px;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px;
  width: 60%;
}

.delete_profile_input_sub_container input::placeholder {
  color: rgba(150, 150, 150, 1);
}

.delete_profile_input_sub_container input:disabled {
  border: 0px solid rgba(200, 200, 200, 1);
  border-radius: 5px;
  display: flex;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(50, 50, 50, 1);
  font: 400 12px "Lato", sans-serif;
  max-width: 350px;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px;
  width: 60%;
}