.header {
  background: rgba(50, 50, 50, 1);
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  height: 50px;
  z-index: 10;
  padding: 0px 25px;
}

.header_left {

}

.header_right {

}

.header_right_spacer {
  width: 75px;
  height: 75px;
}

.header_nav_links {
  display: flex;
  flex-direction: row;

}

.header_greeting {
  font: 300 10pt 'Lato', sans-serif;
  padding: 0px 5px 0px 0px;
}