.modal_container {
  margin: 0px auto;
}

.modal_wrapper {
  animation: fade_in .25s ease-in-out 1;
  background-color: white;
  left: 50%;
  max-width: 75%;
  min-width: 50%;
  position: fixed;
  top: 5%;
  transform: translateX(-50%);
  z-index: 500;
}