.trend_arrow {
  padding: 0px 2.5px;
}

.stats_total {
  background: rgba(255,255,255, 1);
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font: 300 10pt 'Poppins', sans-serif;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.stats_total br {
  line-height: 0em;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.stats_total ul {
  text-align:center;
  width: 50% !important;
  list-style: none;
  padding: 10px;
  margin: 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.stats_total li {
  font-size: 10pt;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.stats_xp_perf_container {
  background: rgba(255,255,255, 1);
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font: 300 10pt 'Poppins', sans-serif;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}
