.stats_category_header_button {
  border: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px;
  width: 100%;
  align-items: center;
}

.stats_category_header_button h3 {
  font: 300 12pt "Lato";
}

.stats_category_header_button:hover {
  background: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.stats_category_header_button_active {
  animation: none;
  background-color: rgba(245, 167, 66, 1);
  border: 0px;
  color: rgba(40, 44, 52, 1);
  cursor: default;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px;
  width: 100%;
}

.stats_category_header_button_active h3 {
  font: 300 12pt "Lato";
}

.stats_category_header_button_active:hover {
  background: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}