.dashboard_header {
  border: 0px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 51, 1);
  padding: 5px 5px 5px 10px;
}

.dashboard_header_left {
  display: flex;
}

.dashboard_header_left h3 {
  align-self: center;
  font: 300 15pt "PoppinsLight";
}

.dashboard_header_right {
  display: flex;
}

.dashboard_header_right span {
  align-self: center;
  font: 300 9pt 'LatoItalic';
}