.dashboard_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  background: rgba(50, 50, 50, 1);
  border: 0px;
  color: rgba(255, 255, 255, 1);
  padding: 0px 0px 0px 15px;
  height: 35px;
}

.dashboard_header_left {
  /* align-self: stretch; */
  display: flex;
  /* justify-content: center; */
  /* align-items: stretch; */
  /* align-content: stretch; */
}

.dashboard_header_left h3 {
  align-self: center;
  /* display: flex; */
  font: 600 15pt "LatoThin";
}

.dashboard_header_right {
  /* align-self: stretch; */
  display: flex;
  /* justify-content: center; */
  /* align-items: stretch; */
  /* align-content: stretch; */
}

.dashboard_header_right span {
  align-self: center;
  /* align-self: center;
  display: flex; */
  padding-right: 2em;
  font: 300 9pt 'LatoItalic';
}