@media only screen and (max-width: 768px) {

  .stats_card_header {
    flex-wrap: wrap;
  }

  .stats_card_header_card_wrapper {
    width: calc(100% / 3);
  }

  .dashboard_stats_answer_card_header {
    padding: 10px;
  }

  .dashboard_stats_view_question_button_container {
    padding: 0px 0px 5px 0px;
  }

  .dashboard_stats_answer_card_header h5 {
    font: 300 9pt "Lato";
  }

  .dashboard_stats_answer_card_sub_container {
    flex-direction: column;
  }

  .dashboard_stats_answer_card_sub_container_group_left {
    border-radius: 0px;
    width: 100%;
  }

  .dashboard_stats_answer_card_sub_container_group_right {
    border-radius: 0px 0px 5px 5px;
    width: 100%;
  }

  .dashboard_stats_answer_card_bottom_card_wrapper h4 {
    font: 600 9pt "LatoLight";
  }

  .dashboard_stats_answer_card_bottom_card_wrapper span {
    font: 300 8pt "Lato";
  }

}