.delete_profile_form {
  width: 100%;
  text-align: center;
  margin: 0 auto 0px auto;
  border: 1px solid rgb(200, 200, 200, 1);
  box-sizing: border-box;
}

.delete_profile_form_div {
  margin: 10px 0px 10px 0px;
}

.delete_profile_form_div > * {
  font: 400 12px "Helvetica", sans-serif;
  padding: 10px;
  width: 50%;
  max-width: 350px;
  line-height: 1.25;
  border: 1px solid rgb(200, 200, 200, 1);
  box-sizing: border-box;
}
