.results_edit_comment_text {
  animation: fade_in .3s ease-in-out 1;
  width: 100%;
}

.results_edit_comment_form {
  animation: fade_in .25s ease-in-out 1;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.results_edit_comment_form textarea {
  animation: fade_in .25s ease-in-out 1;
  font: 300 12pt 'Lato', sans-serif;
  margin: 0 auto 0 auto;
  max-width: 500px;
  min-width: 60%;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px;
}

.results_all_comments_comment_header_left {
  align-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.results_edit_comment_buttons_container {
  animation: fade_in .3s ease-in-out 1;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.results_edit_comment_button {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(51, 51, 51, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 2.5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_edit_comment_button:hover {
  color: rgba(51, 51, 51, 1);
  background: rgba(244, 166, 66, 1);
}

.results_edit_comment_button:active {
  animation: scale_out .1s ease-in-out 1;
}

.results_edit_comment_button_disabled {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(174,174,174, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0.5);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 2.5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_delete_comment_button {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(51, 51, 51, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 2.5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_delete_comment_button:hover {
  color: rgba(51, 51, 51, 1);
  background: rgba(244, 166, 66, 1);
}

.results_delete_comment_button:active {
  animation: scale_out .1s ease-in-out 1;
}

.results_delete_comment_button_disabled {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(174,174,174, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0.5);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_edit_comment_confirm_button {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(51, 51, 51, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 150px;
  min-width: 100px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_edit_comment_confirm_button:hover {
  color: rgba(51, 51, 51, 1);
  background: rgba(244, 166, 66, 1);
}

.results_edit_comment_confirm_button:active {
  animation: scale_out .1s ease-in-out 1;
}

.results_edit_comment_confirm_button_disabled {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(174,174,174, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0.5);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_edit_comment_cancel_button {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(51, 51, 51, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.results_edit_comment_cancel_button:hover {
  color: rgba(51, 51, 51, 1);
  background: rgba(244, 166, 66, 1);
}

.results_edit_commentcancel_button:active {
  animation: scale_out .1s ease-in-out 1;
}

.results_edit_comment_cancel_button_disabled {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(174,174,174, 1);
  border: 0px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 0.5);
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  max-width: 100px;
  min-width: 50px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}