@media only screen and (max-width: 768px) {

  .user_stats_total {
    flex-direction: column;
    font-size: 9pt;
    padding: 0px 0px 10px 0px;
  }

  .user_stats_total_sub_container {
    order: 2;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .user_stats_xp_perf_container {
    order: 1;
    padding: 0px 0px 10px 0px;
    width: 100%;
  }

  .user_stats_experience_container {
    padding: 10px 30px;
  }

}