.trend_arrow {
  padding: 0px;
  margin: 0px 2.5px;
}

.user_stats_total {
  /* background: rgba(50, 50, 50, 1); */
  /* color: rgba(255, 255, 255, 1); */
  /* color: rgba(50, 50, 50, 1); */
  background-color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-family: 'Lato';
  font-size: 10pt;
  font-weight: 300;
  padding: 10px 0px;
  margin: 0px 1px;
  /* width: 100%; */
}

.user_stats_total br {
  line-height: 0em;
}

.user_stats_total_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 50%;
}

.user_stats_total_sub_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.user_stats_total_sub_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2.5px 0px;
}

.user_stats_xp_perf_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0px 20px 0px 0px;
  font: 300 10pt 'Poppins', sans-serif;
}
