@media only screen and (max-width: 768px) {

  .user_stats_wrapper {
    flex-direction: column;
    padding: 10px 0px;
  }

  .user_stats_total {
    padding: 0px 0px 10px 0px;
  }

  .user_stats_total_sub_container {
    order: 2;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .user_stats_total_sub_wrapper {
    font-size: 9pt;
  }

  .user_stats_xp_perf_container {
    order: 1;
    padding: 0px 0px 0px 0px;
    width: 100%;
  }

  .user_stats_experience_container {
    padding: 10px 30px;
  }

  .user_stats_total_sub_row span,
  .user_stats_total_sub_row span span {
    font-size: calc(12px + (16 - 12) * ((100vw - 360px) / (769 - 360)))
  }
}