.spinner_container {
  /* width: 100wh !important; */
  /* min-height: 50vh !important; */
  /* margin: 0px auto 0px auto; */
  height: 45px;
  padding: 0px 15px;
}

.spinner_header {
  width: 100%;
  padding: 10px 0px 10px 0px;
  animation: loading_pulse 2s linear infinite;
  z-index:8;
}

.spinner_header h3 {
  font: 300 25pt 'Lato', sans-serif !important;
}

.spinner_animation_container {
  margin: 2.5px auto 2.5px auto !important;
  /* animation: loading_pulse 1.2s ease-in-out infinite !important; */
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.roller {
  width: 25px;
  height: 25px;
  transform: scale(1.0, 1.0);
  /* background: blue */
  /* animation: loading_pulse 1.0s ease-in-out infinite !important; */
}

.roller div {
  animation: roller 0.5s linear infinite;
  transform-origin: 12.5px 12.5px;

}

@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);

  background: rgba(102, 102, 102, 1);
  /* margin: -4px 0 0 -4px; */
  /* animation: loading_pulse 0.5s ease-in-out infinite !important; */

}

.roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.roller div:nth-child(1):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.roller div:nth-child(2):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.roller div:nth-child(3):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.roller div:nth-child(4):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.roller div:nth-child(5):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.roller div:nth-child(6):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.roller div:nth-child(7):after {
  top: 0px;
  left: 0px;
}

.roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.roller div:nth-child(8):after {
  top: 0px;
  left: 0px;
}