.dashboard_stats_answers_container {
  background-color: rgba(0, 0, 51, 1);
}

.dashboard_stats_answers_header_container {
  background-color: rgba(255, 255, 255, 1);
  padding: 2.5px 0px;
}

.dashboard_stats_answers_header_container h1 {
  font: 300 12pt 'PoppinsLight';
  margin: 0px 0px 0px 10px;
}