.delete_profile_div {
  margin: 0px auto 10px auto;
  width: 80%;
}

.delete_profile_div label {
  border: 0px;
  font: 300 10pt 'Poppins', sans-serif;
}

.delete_profile_div input {
  border: 0px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 400 12px "Lato", sans-serif;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px;
  width: 80%;
  max-width: 500px;
}

.delete_profile_div input:disabled {
  color: rgba(255, 255, 255, 1) !important;
  background-color: rgba(50, 50, 50, 1);
  border: 0px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 400 12px "Lato", sans-serif;
  cursor: default;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
}