.delete_profile_div label {
  font: 300 10pt 'Poppins', sans-serif;
  border: 0px;
}

.delete_profile_div input {
  font: 400 12px "Helvetica", sans-serif;
  padding: 10px;
  margin: 0px 0px 0px 0px;
  width: 75%;
  line-height: 1.25;
  border: 1px solid rgb(200, 200, 200, 1);
  box-sizing: border-box;
  outline: -webkit-focus-ring-color auto 0px;
}