.user_profile_achievements_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_achievements_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
}

.user_profile_achievements span {
  font: 300 10pt 'LatoItalic';
  padding: 5px 0px;
  text-align: center;
}

.user_profile_achievements_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}