.container_sub_header_centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  background: rgba(51, 51, 51, 1);
  border: 0px;
  color: rgba(255, 255, 255, 1);
  padding: 5px 10px 2.5px 20px;
}

.container_sub_header_centered_text {
  align-self: stretch;
  display: flex;
}

.container_sub_header_centered_text h3 {
  align-self: center;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  font: 600 10pt "LatoThin";
}