.docs_sub_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  border: 0px;
  padding: 0px 10px 0px 0px;
}

.docs_sub_header_left {
  align-self: stretch;
  display: flex;
}

.docs_sub_header_left h4 {
  align-self: center;
  display: flex;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  /* font: 300 14pt "PoppinsLight"; */
  font-family: 'PoppinsLight';
  font-size: calc(12px + (8 — 8) * ((100vw — 769px) / (1920 — 769)));
  font-weight: 300;
}

.docs_sub_header_right {
  align-self: stretch;
  display: flex;
  text-align: center;
  justify-content:center;
}

.docs_sub_header_right h5 {
  align-self: center;
  display: flex;
  text-align: center;
  font: 300 10pt 'Lato';
}