@media only screen and (max-width: 768px) {

  .home_button_section_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .home_button_section_left_container {
    align-items: center;
    margin: 5px 0px;
  }

  .home_button_section_right_container {
    align-items: center;
    margin: 5px 0px;
    width: 100%;
  }

}