.leader_boards_buttons_row_button_disabled {
  -webkit-appearance: none;
  display: flex;
  background: rgba(50, 50, 50, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: default;
  font: 300 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  opacity: 0;
  padding: 10px 15px;
  outline: -webkit-focus-ring-color auto 0px;
}

.leader_boards_buttons_row_button_disabled img {
  width: 20px;
  height: 20px;
}