.leader_boards_buttons_row_button_middle {
  -webkit-appearance: none;
  display: flex;
  background: rgba(0, 0, 102, 1);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  padding: 10px 15px;
  outline: -webkit-focus-ring-color auto 0px;
}

.leader_boards_buttons_row_button_middle:hover {
  background: rgba(244, 166, 66, 1);
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transition: background-color, border-radius .2s ease-in-out 0s;
}

.leader_boards_buttons_row_button_middle img {
  width: 20px;
  height: 20px;
}

.leader_boards_buttons_row_button_middle span {
  align-self: stretch;
}

.leader_boards_buttons_row_button_middle:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.leader_boards_buttons_row_button_middle:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}