.leader_boards_buttons_row_button_left {
  -webkit-appearance: none;
  display: flex;
  background-image: linear-gradient(0deg, rgba(0, 0, 51, 1), rgba(0, 0, 102, 1));
  border: 0px solid black;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  font: 300 12pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  padding: 10px 15px;
  outline: -webkit-focus-ring-color auto 0px;
}

.leader_boards_buttons_row_button_left:hover {
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transition: background-color, border-radius .2s ease-in-out 0s;
}

.leader_boards_buttons_row_button_left img {
  width: 20px;
  height: 20px;
}

.leader_boards_buttons_row_button_left span {
  align-self: stretch;
}

.leader_boards_buttons_row_button_left:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 12pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.leader_boards_buttons_row_button_left:active img {
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}