.edit_div_avatar_img {
  padding: 0px
}

.edit_div_avatar_input_label input[type="file"] {
    display: none;
}

.edit_div_avatar_input_label {
  -webkit-appearance: none;
  align-items: center;
  background: rgba(50, 50, 50, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
  display: inline-block;
  font: 300 10pt 'PoppinsLight', sans-serif !important;
  letter-spacing: normal;
  margin: 0px;
  padding: 5px 10px;
  outline: -webkit-focus-ring-color auto 0px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.edit_div_avatar_input_label:hover {
  color: rgba(50, 50, 50, 1) !important;
  background-color: rgba(244, 166, 66, 1) !important;
  border: 0px solid black;
  box-sizing: border-box;
  font: 600 10pt 'PoppinsLight', sans-serif !important;
  transition: background-color .2s ease-in-out 0s;
}

.edit_div_avatar_input_label span {
  align-self: stretch;

}

.edit_div_avatar_input_label img {
  width: 20px;
  height: 20px;
}

/* .edit_div_avatar_input_label:active {
  animation: scale_out .1s ease-in-out 1;
} */

.edit_div_avatar_input_label:active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 300 10pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}

.edit_div_avatar_input_label_disabled {
  -webkit-appearance: none;
  align-items: center;
  background: rgba(174,174,174, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: rgb(235, 235, 235, 0);
  cursor: default;
  display: inline-block;
  font: 100 10pt 'PoppinsLight', sans-serif;
  letter-spacing: normal;
  margin: 0px;
  opacity: 0;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}