.stats_card_header {
  background: linear-gradient(180deg, rgba(175, 175, 175, 1), rgba(200, 200, 200, 1), rgba(255, 255, 255, 1) );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0px;
  width: 100%;
}

.stats_card_header_card_container {
  /* width: 16%; */
  /* margin: 0px 0px 0px 1px; */
  padding: 1px;
}

.stats_card_header_card_wrapper {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0.5px;
  padding: 0.5px 0px 5px 0px;
  /* padding: 5px; */
  width: calc(100% / 6);
}

.stats_card_header_card_wrapper h4 {
  font: 600 10pt "LatoLight";
  margin-bottom: 2.5px;
}

.stats_card_header_card_wrapper span {
  font: 300 10pt "Lato";

}