.stats_card_header {
  display: flex;
  width: 100%;
}

.stats_card_header_card_container {
  padding: 1px;
}

.stats_card_header_card_wrapper {
  background: rgba(0, 0, 51, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0px 0.5px 0px 0.5px; */
  padding: 0px 0px 5px 0px;
  width: calc(100% / 6);
}

.stats_card_header_card_wrapper h4 {
  font: 600 10pt "LatoThin";
  padding: 5px 0px 0px 0px;
  margin-bottom: 2.5px;
}

.stats_card_header_card_wrapper span {
  font: 300 10pt "Lato";
}