.results_next_question_button_container {
  animation: fade_in .25s ease-in-out 1;
  align-items: baseline;
  background: rgba(255,255,255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 10px 0px 10px 0px;
  width: 100%;
}