@font-face {
  font-family: "Lato";
  src: url("./Lato-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "LatoItalic";
  src: url("./Lato-Italic.ttf") format("truetype")
}

@font-face {
  font-family: "LatoLight";
  src: url("./Lato-Light.ttf") format("truetype")
}

@font-face {
  font-family: "LatoThin";
  src: url("./Lato-Thin.ttf") format("truetype")
}

@font-face {
  font-family: "LatoLightItalic";
  src: url("./Lato-LightItalic.ttf") format("truetype")
}