.user_profile_stats_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_stats_sub_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.user_profile_rank_rating_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_rank_container {
  text-align: center;
}

.user_profile_rating_container {
  text-align: center;
}

.user_profile_answered_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_answered_correct_container {
  text-align: center;
}

.user_profile_answered_total_container {
  text-align: center;
}

.user_profile_time_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_average_time_container {
  text-align: center;
}

.user_profile_outta_times_container {
  text-align: center;
}

.user_profile_votes_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_votes_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.user_profile_comments_container {
  width: 100%;
}

.user_profile_comments_container h4 {
  text-align: center;
}

.user_profile_comments_container h5 {
  text-align: center;
}