.dashboard_missing_field_error {
  background: rgba(54, 6, 9, 1);
  /* border: 1px solid rgb(168, 62, 50, 1); */
  margin: 0px auto !important;
  padding: 2.5px;
  width: 50%;
}

.dashboard_missing_field_error span {
  color: rgba(50, 50, 50, 1);
  font: 300 11pt 'Lato', sans-serif;
}