/* .default_form_error_container {
  background: rgba(168, 62, 50, 0.2);
  border: 1px solid rgb(168, 62, 50, 0.4);
  margin: 0px auto !important;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.default_form_error_container span {
  font: 400 10pt 'Roboto', sans-serif;
} */