.results_comment_text {
  animation: fade_in .3s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  width: 100%;
}

.results_comment_form {
  animation: fade_in .25s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.results_comment_form textarea {
  animation: fade_in .25s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 12pt 'Lato', sans-serif;
  margin: 0 auto 0 auto;
  max-width: 500px;
  min-width: 60%;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 5px;
}

.results_comment_error_container {
  align-content: center;
  align-items: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto 10px auto !important;
  max-width: 500px;
  min-width: 60%;
}