.vote_header_centered {
  background: rgba(255, 255, 255, 1);
  border: 0px;
  color: rgba(50, 50, 50, 1);
  margin: 0px 2px;
  padding: 5px 15px 5px 10px;
  /* height: 35px; */
}

.vote_header_centered_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.vote_header_centered_text h1 {
  align-self: center;
  display: flex;
  font: 300 15pt "PoppinsLight";
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

.vote_header_centered_text h2 {
  align-self: center;
  /* display: flex; */
  /* padding-right: 25px; */
  font: 300 9pt "LatoItalic";
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  text-align: center;
}