.header_menu_container::before {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  content: "";
}

.header_menu_container {
  position: absolute;
  top: 3.1em;
  background-color: grey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: flex-end;
  align-self: flex-end;
  content: "";
  min-width: 125px;
}

.header_menu_wrapper {
  display: flex;

}