.home_logged_out_bottom_banner {
  /* background: rgba(255, 255, 255, 1); */
  background: rgba(246, 246, 250, 1);
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  z-index: 4;
}