/* .dashboard_greeting {
  animation: fade_in .25s ease-in-out 1, blur_in .25s ease-in-out 1, slide_in_from_bottom.25s ease-in-out 1;
} */

.dashboard_index_header {
  width: 100%;
  padding: 5px 0px 5px 0px;
  z-index:8;
}

.dashboard_index_header > * {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

.dashboard_index_header h2 {
  font: 400 20pt 'Lato', sans-serif;
}

.dashboard_index_header h3 {
  font: 300 20pt 'Lato', sans-serif;
}

.dashboard_index_header h4 {
  font: 300 15pt 'Lato', sans-serif;
}

.dashboard_index_header h5 {
  font: 300 10pt 'Lato', sans-serif;
}