.dashboard_profile_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* margin: 1.25em 0em 0em 0em; */
  padding: 0px 0px 0px 20px;
  color: rgb(225, 225, 225, 1);
  /* background: rgba(50, 50, 50, 1); */
}

.dashboard_profile_header_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.dashboard_profile_header_left_img {
  width: 75px;
  height: auto;
}

.dashboard_profile_header_left_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding-left: .5em;
}

.dashboard_profile_header_left_text h2 {
	font: 600 20pt 'LatoThin', sans-serif;
}

.dashboard_profile_header_left_text h3 {
  font: 600 20pt 'LatoThin', sans-serif;
}

.dashboard_profile_header_left_text h4 {
  font: 300 15pt 'LatoThin', sans-serif;
}

.dashboard_profile_header_left_text h5 {
  font: 300 10pt 'LatoThin', sans-serif;
}

.dashboard_profile_header_right {

}
