.leader_boards_container {

}

.leader_boards_sub_container {
  /* background: rgba(51, 51, 51, 1); */
  width: 100%;
  padding: 0px 5px;
}

.leader_boards_sub_wrapper {
  color: rgba(100, 100, 100, 1);
  /* background: rgba(255, 255, 255, 1); */
}