.dashboard_profile_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px 0px 10px 20px;
  /* width: 100%; */
}

.dashboard_profile_body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.dashboard_profile_fields_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.dashboard_profile_last_login_join_date_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0px 0px 0px;
}

.dashboard_profile_last_login_join_date_sub_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.dashboard_profile_last_login_join_date_sub_container h3 {
  color: rgba(255, 255, 255, 1);
  font: 300 12pt 'PoppinsLight', sans-serif;
  text-align: center;
}

.dashboard_profile_last_login_join_date_sub_container span {
  display: flex;
  align-content: center;
  align-self: center;
  color: rgba(255, 255, 255, 1);
  font: 300 9pt "Roboto", sans-serif;
}

/* .dashboard_profile_body span {
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  text-align: center;
} */

/* .dashboard_profile_body span a {
  color: rgba(4, 108, 196, 1);
  margin: 0px;
  text-decoration: none;
}

.dashboard_profile_body span a:active {
  color: rgba(244, 166, 66, 1);
  margin: 0px;
  text-decoration: none;
  transition-property: color;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out;
}

.dashboard_profile_body span a:hover {
  color: rgba(244, 166, 66, 1);
  margin: 0px;
  text-decoration: none;
  transition-property: color;
  transition-duration: .1s, .1s;
  transition-timing-function: ease-in-out;
}

.dashboard_profile_body span a:visited {
  margin: 0px;
  text-decoration: none;
} */