.leader_board_scores_container {
  /* background: rgba(51, 51, 51, 1); */
  width: 100%;
  padding: 0px 5px;
}

.leader_board_scores_row_container {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px 0px;
  padding: 0px 5px 0px 5px;
}