.form_check_box_button {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 1);
  border: 0px;
  font: 100 0px 'Lato';
  padding: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  transform: rotate(360deg);
  transition: transform .25s ease-in-out;
}

.form_check_box_button img {
  outline: -webkit-focus-ring-color auto 0px;
}

.form_check_box_button img:hover {
  cursor: pointer;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 0px 2.5px 0px 0px;
  transition: padding .1s ease-in-out;
}

.form_check_box_button img:active {
  cursor: pointer;
  padding: 0px 2.5px 0px 0px;
  outline: -webkit-focus-ring-color auto 0px;
  transition: padding .1s ease-in-out;
}

.form_check_box_button:hover {
  cursor: pointer;
  outline: -webkit-focus-ring-color auto 0px;
}

.form_check_box_button:active {
  cursor: pointer;
  outline: -webkit-focus-ring-color auto 0px;
  transform: rotate(-180deg);
  transition: transform .25s ease-in-out;
}