.blank {
  opacity: 0;
  visibility: hidden;
}

.trend_arrow {
  padding: 0px 2.5px;
}

.results_container {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: flex-start;
  padding: 0px;
  /* min-height: calc(100vh - 165px); */
  min-height: calc(100vh - 190px);
  width: 75%;
}

.results_container > * {
  z-index: 3;
}