.blank {
  opacity: 0;
  visibility: hidden;
}

.trend_arrow {
  padding: 0px 2.5px;
}

.results_wrapper {
  animation: fade_in .5s ease-in-out 1;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  /* width: 75%; */
  width: calc(400px + (800 - 400) * ((100vw - 769px) / (1920 - 769)));
  padding: 0px 0px 20px 0px;
}