.blank {
  opacity: 0;
  visibility: hidden;
}

.trend_arrow {
  padding: 0px 2.5px;
}

.results_wrapper {
  animation: fade_in .5s ease-in-out 1;
  background-image: linear-gradient(0deg, rgba(200, 200, 200, 1), rgba(175, 175, 175, 1));
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  border-radius: 5px;
  margin: 0px 0px 60px 0px;
  width: calc(700px + (1100 - 700) * ((100vw - 769px) / (1920 - 769)));
}

.results_not_answered {
  background: rgba(255, 255, 255, 1);
  font: 300 12pt 'LatoLight', sans-serif;
  margin: 1px;
  padding: 15px 0px 15px 0px;
  text-align: center;
}