@media only screen and (max-width: 768px) {

  .results_wrapper {
    width: calc(330px + (700 - 330) * ((100vw - 360px) / (769 - 360)));
  }

  .results_stats_container {
    border-radius: 0px;
  }

  .results_answer_header {
    border-radius: 0px;
  }

  .results_question_sub_container {
    flex-direction: column;
  }

  .results_perf_sub_wrapper {
    padding: 5px 0px 5px 0px;
  }

  .results_perf_sub_wrapper_header h4 {
    font-size: calc(11px + (15 - 11) * ((100vw - 360px) / (769 - 360)));
  }

  .results_perf_sub_wrapper_text h5 {
    font-size: calc(13px + (16 - 13) * ((100vw - 360px) / (769 - 360)));
  }

  .results_xp_wrapper {
    width: 90%;
  }

  .results_question_sub_wrapper_left {
    width: 100%;
  }

  .results_question_sub_wrapper_right {
    width: 100%;
  }

  .results_question_sub_container h5 {
    font-size: calc(11px + (15 - 11) * ((100vw - 360px) / (769 - 360)));
  }

  .results_question_sub_container h4 {
    padding: 5px 0px 0px 0px;
  }

  .results_comment_container {
    width: 100%;
  }

  .results_comment_form textarea,
  .results_all_comments {
    margin: 0px auto;
    width: 90%;
  }

}