.modal_header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(50, 50, 50, 1);
  border: 0px;
  border-radius: 5px 5px 0px 0px;
  color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  margin: 0px;
  height: 35px;
  width: 100%;
}

.modal_header_top {
  display: flex;
}

.modal_header_top h3 {
  text-align: center;
  align-self: center;
  display: flex;
  font: 600 15pt "LatoThin";
}

.modal_header_bottom {
  align-self: stretch;
  display: flex;
  text-align: center;
  justify-content:center;
}

.modal_header_bottom span {
  align-self: center;
  display: flex;
  text-align: center;
  min-width: 65px;
  font: 300 20pt 'Lato';
}