.results_vote_blank {
  animation: fade_in .25s ease-in-out 1;
  background: rgba(255,255,255, 1);
  align-items: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110px;
  padding: 0px;
  width: 100%;
}

.results_vote {
  animation: fade_in .25s ease-in-out 1;
  align-items: center;
  background: rgba(255,255,255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110px;
  padding: 0px;
  width: 100%;
}

.results_vote h3 {
  animation: fade_in .25s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 15pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 10px;
}

.results_vote_header {
  animation: fade_in .25s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
}

.results_vote h3 {
  animation: fade_in .25s ease-in-out 1;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 15pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 10px;
}

.results_voted {
  animation: fade_in .25s ease-in-out 1;
  background: rgba(255,255,255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 110px;
  padding: 0px;
  width: 100%;
}

.results_voted_header {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.results_voted_header h3 {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 10pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 10px;
}

.results_voted_header h4 {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 14pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 10px;
}

.results_voted_totals {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 300 14pt 'Lato', sans-serif;
  padding: 10px 0px;
}

.results_voted_totals ul {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: row;
  font: 300 14pt 'Lato', sans-serif;
  justify-content: center;
  list-style: none;
  margin: 0 auto 0 auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-inline-start: 0px;
}

.results_voted_totals li {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 300 14pt 'Lato', sans-serif;
  justify-content: center;
  margin: 0px;
  padding: 0px 15px;
}

.results_voted_totals li h5 {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 300 10pt 'Lato', sans-serif;
  justify-content: center;
  margin: 0px;
  padding: 0px 15px;
}