.results_vote_blank {
  animation: fade_in .25s ease-in-out 1;
  background: rgba(255,255,255, 1);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  padding: 0px;
  width: 100%;
}

.results_vote_container {
  animation: fade_in .25s ease-in-out 1;
  background: rgba(255,255,255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px auto;
  min-height: 75px;
  padding: 0px;
  width: 100%;
}

.results_vote_wrapper {
  background: rgba(255,255,255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px auto;
  min-height: 75px;
  padding: 0px;
  width: 60%;
}

.results_vote_header {
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 55px;
  width: 35%;
}

.results_vote_header h3 {
  font: 400 15pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px 10px;
}

.results_vote_header h4 {
  font: 300 15pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px;
}

.results_vote_header h5 {
  font: 300 10pt 'Lato', sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0px;
}

.results_vote_totals {
  font: 300 14pt 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px;
  min-height: 55px;
  width: 65%;
}

.results_vote_totals ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  font: 300 14pt 'Lato', sans-serif;
  justify-content: center;
  list-style: none;
  margin: 0px auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-inline-start: 0px;
}

.results_vote_totals li {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 300 15pt 'Lato', sans-serif;
  justify-content: center;
  margin: 0px;
  padding: 0px 15px;
}

.results_vote_totals li h5 {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font: 300 8pt 'Lato', sans-serif;
  justify-content: center;
  margin: 0px;
  padding: 0px 15px;
}