.results_vote_buttons_container {
  /* width: 60%;
  min-width: 60%;
  max-width: 60%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* animation: fade_in .5s ease-in-out 1; */
}

.results_vote button {
  /* animation: fade_in .25s ease-in-out 1; */
}


.up_vote_button {
  align-items: flex-start;
  color: rgb(255, 255, 255, 1);
  background-color: rgba(0, 128, 43, 1);
  border: 0px solid;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px 12.5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  -webkit-appearance: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.up_vote_disabled_button {
  align-items: flex-start;
  color: rgb(235, 235, 235, 0.5);
  background: rgba(174,174,174, 1);
  border: 0px solid;
  box-sizing: border-box;
  cursor: not-allowed;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px 12.5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  -webkit-appearance: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.up_vote_button img, .up_vote_disabled_button img {
  max-width: 100%;
  height: auto;
}

.up_vote_button:hover {
  color: rgb(255, 245, 204, 1);
  background-color: rgba(0, 77, 26, 1);
}

.up_vote_button:active {
  background-color: rgba(0, 77, 26, 1);
  animation: scale_out .1s ease-in-out 1;
}

.no_vote_button {
  align-items: flex-start;
  color: rgb(255, 255, 255, 1);
  background-color: rgba(89, 89, 89, 1);
  border: 0px solid;
  border-radius: 0px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px 12.5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  -webkit-appearance: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.no_vote_disabled_button {
  align-items: flex-start;
  color: rgb(235, 235, 235, 0.5);
  background: rgba(174,174,174, 1);
  border: 0px solid;
  border-radius: 0px;
  box-sizing: border-box;
  cursor: not-allowed;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px 12.5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  -webkit-appearance: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.no_vote_button img, .no_vote_disabled_button img {
  max-width: 100%;
  height: auto;
}

.no_vote_button:hover {
  color: rgba(255, 245, 204, 1);
  background-image: linear-gradient(rgba(64, 64, 64, 1), rgba(0, 0, 0, 1) );
}

.no_vote_button:active {
  background-image: linear-gradient(rgba(64, 64, 64, 1), rgba(0, 0, 0, 1) );
  animation: scale_out .1s ease-in-out 1;
}

.down_vote_button {
  align-items: flex-start;
  color: rgba(255, 255, 255, 1);
  background: rgba(204, 0, 0, 1);
  border: 0px solid;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px 12.5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  -webkit-appearance: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.down_vote_disabled_button {
  align-items: flex-start;
  color: rgb(235, 235, 235, 0.5);
  background: rgba(174,174,174, 1);
  border: 0px solid;
  box-sizing: border-box;
  cursor: not-allowed;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  width: 50px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px 12.5px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
  -webkit-appearance: none;
  outline: -webkit-focus-ring-color auto 0px;
}

.down_vote_button img, .down_vote_disabled_button img {
  max-width: 100%;
  height: auto;
}

.down_vote_button:hover {
  color: rgb(255, 245, 204, 1);
  background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );
}

.down_vote_button:active {
  background-image: linear-gradient(rgb(102, 0, 0, 1),  rgb(77, 0, 0, 1) );
  animation: scale_out .1s ease-in-out 1;
}
