.log_in_div {
  margin: 0px 0px 10px 0px;
}

.log_in_div label {
  border: 0px;
  font: 300 10pt 'Poppins', sans-serif;
}

.log_in_div input {
  border: 0px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 400 12px "Lato", sans-serif;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px;
  width: 75%;
}

.log_in_div input:disabled {
  border: 0px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  font: 400 12px "Lato", sans-serif;
  cursor: not-allowed;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px;
  width: 75%;
}