.sign_up_buttons_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}

.sign_up_form_button_container {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  border: 0px solid black;
  box-sizing: border-box;
}