.navbar_button {
  border: 0px;
  box-sizing: border-box;
  color: rgb(40, 44, 52, 1);
  cursor: pointer;
  flex-grow: 1;
  font: 300 15pt 'Lato', sans-serif;
  margin: 0px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
}

.navbar_button:hover {
  background: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.navbar_button:active {
  animation: scale_out .1s ease-in-out 1;
}

.navbar_button_active {
  background-color: rgba(245, 167, 66, 1);
  color: rgba(40, 44, 52, 1);
  cursor: default;
}

.navbar_button_active:hover, .navbar_button_active:active {
  animation: none;
  background-color: rgba(245, 167, 66, 1);
  color: rgba(40, 44, 52, 1);
  cursor: default;
}