.results_perf_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 60%;
}

.results_perf_container h3 {
  font: 600 15pt "LatoThin";
}

.results_perf_sub_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 5px 0px;
}

.results_perf_rank_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px 10px;
}

.results_perf_rank_container span {
  font: 300 8pt "LatoItalic";
}

.results_perf_rank_sub_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.results_perf_rank {
  margin: 0px 10px;
}

.results_perf_rank h4 {
  font: 400 10pt "Lato";
}

.results_perf_rank h5 {
  position: relative;
  /* top: -.15em; */
  font: 400 12pt "Lato";
}

.results_perf_rating {
  margin: 0px 10px;
}

.results_perf_rating h4 {
  font: 400 10pt "Lato";
}

.results_perf_rating h5 {
  position: relative;
  /* top: -.15em; */
  font: 400 12pt "Lato";
}

.results_perf_rating_sub_wrapper {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.results_time_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px 10px;
}

.results_time_container h4 {
  font: 400 10pt "Lato";
}

.results_time_sub_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.results_time_sub_container h5 {
  position: relative;
  /* top: -.15em; */
  font: 400 12pt "Lato";
}

.results_time_container span {
  font: 300 8pt "LatoItalic";
}