.results_stats_container {
  animation: fade_in .25s ease-in-out 1;
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  /* background: rgba(255,255,255, 1); */
  text-align: center;
  width: 100%;
}

.results_stats_wrapper {
  padding: 10px 0px;
  width: 100%;
}
