.results_perf_container {
  margin: 0px 0px 1px 0px;
}

.results_perf_container h3 {
  font: 600 15pt "LatoThin";
}

.results_perf_sub_container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  flex-grow: 1;
}

.results_perf_sub_wrapper_top {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.results_perf_sub_wrapper {
  background: rgba(255, 255, 255, 1);
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 10px 0px;
  width: inherit;
}

.results_perf_sub_wrapper_left {
  margin: 0px 1px 0px 0px;
}

.results_perf_sub_wrapper_right {
  margin: 0px 0px 0px 1px;
}

.results_perf_sub_wrapper_header {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  text-align: center;
}

.results_perf_sub_wrapper_header h4 {
  font: 600 12pt 'LatoLight';
  margin: 0px 0px 5px 0px;
}

.results_perf_sub_wrapper_text {
  display: flex;
  justify-content: center;
}

.results_perf_sub_wrapper_text h5 {
  font: 300 12pt 'Lato';
}

