.results_xp_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0px;

}

.results_xp_count {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.results_xp_bar_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  /* height: 15px; */
  width: 100%;
  /* margin: 0px 5px; */

}

.results_xp_bar_container h4 {
  font: 400 10pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_xp_bar_container h5 {
  font: 300 10pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_xp_bar_sub_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  height: 15px;
  width: 100%;
  /* margin: 0px 5px; */

}

.results_xp_bar {
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  /* background: green; */
  /* margin-left: 5px; */
  height: 10px;
  width: 100%;
}
