.results_stats_container {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(225, 225, 225, 1));
  border-radius: 5px;
  padding: 0px 0px 10px 0px;
}

.results_stats_wrapper {
  animation: fade_in .25s ease-in-out 1;
  background: rgba(255, 255, 255, 1);
  margin: 0px 2px 0px 2px;
  padding: 0px 0px 10px 0px;
  /* width: 100%; */
}
