.results_question_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_question_container h3 {
  position: relative;
  top: .2em;
  font: 600 15pt "LatoThin";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_question_sub_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 5px 0px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff_container h4 {
  font: 400 10pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff_container h5 {
  font: 300 10pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff_container h6 {
  position: relative;
  top: -.15em;
  font: 300 12pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff_sub_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff {
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_diff_rating {
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_container h4 {
  font: 400 10pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_container h5 {
  position: relative;
  top: -.15em;
  font: 300 12pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_container h6 {
  font: 400 12pt "Lato";
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_sub_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_correct {
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_incorrect {
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}

.results_totals_outta_time {
  margin: 0px 10px;
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
}