.results_perf_container h3 {
  font: 600 15pt "LatoThin";
}

.results_perf_sub_container {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
  display: flex;
  margin: 5px 0px 0px 0px;
  flex-grow: 1;
}

.results_perf_sub_wrapper {
  background: rgba(255, 255, 255, 1);
  margin: 0px 0px 1px 0px;
  padding: 5px 0px 15px 0px;
  width: calc(100% / 3);
}

.results_perf_sub_wrapper_header {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  text-align: center;
}

.results_perf_sub_wrapper_header h4 {
  font: 600 12pt 'LatoLight';
  margin: 0px 0px 5px 0px;
}

.results_perf_sub_wrapper_text {
  display: flex;
  justify-content: center;
}

.results_perf_sub_wrapper_text h5 {
  font: 300 12pt 'Lato';
}

