.results_stats_container {
  border-radius: 5px;
  padding: 0px 0px 0px 0px;
}

.results_stats_wrapper {
  animation: fade_in .25s ease-in-out 1;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
