.results_xp_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 75%;
  padding: 10px 0px;
}

.results_xp_count {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-end;
  margin: 0px 5px;
}

.results_xp_count h4 {
  font: 600 12pt "Lato";
  align-self: flex-end;
}

.results_xp_count h5 {
  font: 400 10pt "Lato";
  align-self: flex-end;
}

.results_xp_bar_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.results_xp_bar_container h4 {
  font: 400 10pt "Lato";
  align-self: center;
}

.results_xp_bar_container h5 {
  font: 300 10pt "Lato";
}

.results_xp_total {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-end;
  margin: 0px 5px;
}

.results_xp_total h4 {
  font: 600 12pt "Lato";
  align-self: flex-end;
}

.results_xp_total h5 {
  font: 400 10pt "Lato";
  align-self: flex-end;
}

.results_xp_bar_sub_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 15px;
  width: 100%;
}

.results_xp_bar {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(200, 200, 200, 1);
  box-sizing: border-box;
  width: 100%;
}
