.results_question_container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  padding: 0px 0px 15px 0px;
}

.results_question_sub_container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.results_question_sub_container h1 {
  background: rgba(246, 246, 250, 1);
  font: 300 12pt 'Poppins';
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

.results_question_static_no_achievements {
  border-radius: 0px 0px 5px 5px;
}

.results_question_sub_wrapper {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
  width: inherit;
}

.results_question_sub_wrapper_left {
  margin: 0px 5px 0px 15px;
  width: 60%;
}

.results_question_sub_wrapper_right {
  margin: 0px 15px 0px 5px;
  width: 40%;
}