.default_carousel_slide_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  opacity: 1;
  padding: 40px 0px 20px 0px;
  width: 90%;
  animation: onmount_default_carousel_slide .5s ease-in-out 1;
}

.dismount_default_carousel_slide_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  opacity: 1;
  padding: 40px 0px 20px 0px;
  width: 90%;
  animation: dismount_default_carousel_slide .5s ease-in-out 1;

}

@keyframes onmount_default_carousel_slide
  {
    25% {
      opacity: 0;
    }
    0% {
      transform: translateX(-2000px);
    }
  }

@keyframes dismount_default_carousel_slide
  {
    25% {
      opacity: 0;
    }
    75% {
      transform: translateX(2000px);
    }
  }

.default_carousel_slide_img_container {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
  margin-right: calc(10px + (16 - 10) * ((100vw - 769px) / (1280 - 769)));
}

.default_carousel_slide_img_container img {
  height: auto;
  max-width: 600px;
  min-width: 300px;
  width: 100%;
}

.default_carousel_slide_desc_container {
  display: flex;
  justify-content: flex-start;
  margin-left: calc(10px + (16 - 10) * ((100vw - 769px) / (1280 - 769)));
  width: 50%;
}

.default_carousel_slide_desc_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 500px;
}

.default_carousel_slide_desc_headline_container h2 {
  color: rgba(75, 75, 75, 1);
  font-family: 'Baloo';
  font-size: calc(20px + (24 - 20) * ((100vw - 769px) / (1920 - 769)));
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 5px 0px;
  text-align: center;
}

.default_carousel_slide_desc_headline_container h2 span {
  color: rgba(0, 0, 102, 1);
  font-family: 'Baloo';
  font-size: calc(20px + (24 - 20) * ((100vw - 769px) / (1920 - 769)));
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.default_carousel_slide_desc_headline_container h2 span span {
  color: rgba(0, 0, 0, 1);
  font-family: 'Baloo';
  font-size: calc(20px + (24 - 20) * ((100vw - 769px) / (1920 - 769)));
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.default_carousel_slide_desc_text_container {
  padding: 0px 10px;
  max-width: 500px;
}

.default_carousel_slide_desc_text_container p {
  font-family: 'Lato';
  font-size: calc(12px + (14 - 12) * ((100vw - 769px) / (1920 - 769)));
  font-weight: 300;
  margin: 0px 0px 5px 0px;
}

.default_carousel_slide_desc_highlights_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.default_carousel_slide_desc_highlights_container p {
  font: 300 10pt 'Lato';
  margin: 0px 0px 5px 10px;
}