.delete_profile_error_item {
  background: rgba(168, 62, 50, 0.2);
  padding: 5px 10px;
  width: 75%;
  border: 1px solid rgba(168, 62, 50, 0.4);
  box-sizing: border-box;
  font: 400 11px "Helvetica", sans-serif;
}