.trend_arrow {
  padding: 0px;
  margin: 0px 2.5px;
}

.stats_total {
  background: rgba(50, 50, 50, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font: 600 10pt 'LatoThin', sans-serif;
  padding: 0px 0px 10px 0px;
  width: 100%;
}

.stats_total br {
  line-height: 0em;
}

.stats_total ul {
  text-align:center;
  width: 50% !important;
  list-style: none;
  padding: 10px 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.stats_total li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2.5px 0px;
}

.stats_xp_perf_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0px 20px 0px 0px;
  font: 300 10pt 'Poppins', sans-serif;
}
