.footer_link_button {
  text-align: center;
  background: rgba(50, 50, 50, 1);
  color: #FFF;
  font: 300 9pt 'PoppinsLight', sans-serif;
  padding: 10px 15px 5px 15px;
  border: 0px solid black;
  align-items: center;
  outline: -webkit-focus-ring-color auto 0px;
}

.footer_link_button:hover {
  cursor: pointer;
  font: 600 9pt 'PoppinsLight', sans-serif;

  color: rgb(40, 44, 52, 1);
  background: rgba(244, 166, 66, 1);
}

.footer_link_button:active {

}