.sign_up_form {
  text-align: center;
  width: 100%;
}

.sign_up_error_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}