.user_profile_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user_profile_info_container > * {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

.user_profile_sub_container {
  width: 100%;
  padding: 5px 0px 5px 0px;
  z-index: 8;
}

.user_profile_info_sub_container h3 {
  font: 300 20pt 'Lato', sans-serif;
}

.user_profile_info_sub_container h4 {
  font: 300 15pt 'Lato', sans-serif;
}

.user_profile_info_sub_container h5 {
  font: 300 10pt 'Lato', sans-serif;
}

.user_profile_info_sub_container span {
  font: 300 12pt 'Poppins', sans-serif;
}

.user_profile_info_flag_img {
  padding-right: 5px;
}

.user_profile_info_avatar_img {
  width: 100px;
  height: auto;
  padding: 0px;
}