.user_profile_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user_profile_info_container > * {
  text-align: center;
  padding: 0px 0px 0px 0px;
}


.user_profile_info_date_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user_profile_info_date_sub_container {
  margin: 5px 0px;
}

.user_profile_info_date_sub_container h4 {
  font: 300 10pt 'Lato';
}

.user_profile_info_date_sub_container h5 {
  font: 300 9pt 'LatoLightItalic';
}