.user_profile_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user_profile_info_container > * {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

.user_profile_info_sub_container h3 {
  font: 300 20pt 'Lato', sans-serif;
}

.user_profile_info_sub_container h4 {
  font: 300 15pt 'Lato', sans-serif;
}

.user_profile_info_sub_container h5 {
  font: 300 10pt 'Lato', sans-serif;
}

.user_profile_info_sub_container span {
  font: 300 12pt 'Poppins', sans-serif;
}

.user_profile_info_flag_img {
  padding-right: 5px;
}

.user_profile_info_avatar_img {
  width: 100px;
  height: auto;
  padding: 0px;
}

.user_profile_info_date_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.user_profile_info_date_sub_container {
  margin: 5px 0px;
}

.user_profile_info_date_sub_container h4 {
  font: 300 10pt 'Lato';
}

.user_profile_info_date_sub_container h5 {
  font: 300 9pt 'LatoLightItalic';
}

.user_profile_info_bio_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.user_profile_info_bio_container span {
  color: rgba(255, 255, 255, 1);
  font: 300 10pt 'Lato';
  margin: 10px 0px 5px 0px;
  text-align: left;
}