.home_logged_out_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* padding: 20px 0px 0px 0px; */
  /* max-width: 1440px; */
  margin: 0px 0px 15px 0px;
  width: 100%;
}