.dyanmic_bar_container {
  width: 75%;
}

.loading_bar_container {
  background-color: rgba(25, 25, 25, 1);
  padding: 1px;
  border: 1px solid rgba(200, 200, 200, 1);
}

.loading_bar_0 {
  height: 15px;
  width: 0%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: all .15s ease-in-out 0s;
  transition-property: width;
}

.loading_bar_1 {
  height: 15px;
  width: 5%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: all .15s ease-in-out 0s;
  transition-property: width;
}

.loading_bar_2 {
  height: 15px;
  width: 10%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: all .15s ease-in-out 0s;
  transition-property: width;
}

.loading_bar_3 {
  height: 15px;
  width: 15%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: all .15s ease-in-out 0s;
  transition-property: width;
}

.loading_bar_4 {
  height: 15px;
  width: 20%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: all .15s ease-in-out 0s;
  transition-property: width;
}

.loading_bar_5 {
  height: 15px;
  width: 25%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: all .15s ease-in-out 0s;
  transition-property: width;
}

.loading_bar_6 {
  height: 15px;
  width: 30%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_7 {
  height: 15px;
  width: 35%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_8 {
  height: 15px;
  width: 40%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_9 {
  height: 15px;
  width: 45%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_10 {
  height: 15px;
  width: 50%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_11 {
  height: 15px;
  width: 55%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_12 {
  height: 15px;
  width: 60%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_13 {
  height: 15px;
  width: 65%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_14 {
  height: 15px;
  width: 70%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_15 {
  height: 15px;
  width: 75%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_16 {
  height: 15px;
  width: 80%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_17 {
  height: 15px;
  width: 85%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_18 {
  height: 15px;
  width: 90%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_19 {
  height: 15px;
  width: 95%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_bar_final {
  height: 15px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(211, 143, 57, 1), rgba(244, 166, 66, 1));
  transition: width .15s ease-in-out 0s;
}

.loading_text {
  padding: 2.5px 0px 0px 0px;
  text-align: center;
}

.loading_text p {
  color: rgba(100, 100, 100, 1);
  font: 600 10pt 'PoppinsLight', sans-serif;
}