@media only screen and (max-width: 1024px) {

  .footer {
    padding: 0px 15px 0px 15px;
  }

}

@media only screen and (max-width: 768px) {

  .footer {
    flex-direction: column;
    height: auto;
    padding: 0px 5px;
  }

  .footer_left {
    order: 2;
    width: 100%;
  }

  .footer_right {
    order: 1;
    width: 100%;
  }

  .footer_links_container {
    flex-wrap: wrap;
    margin: 5px 0px;
    width: 100%;
  }

  .footer_link_container {
    width: 25%;
  }

  .footer_link_container a {
    width: 100%;
  }

  .footer_credit_logos {
    flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
  }

  .footer_credit_logos a {
    width: 25%;
    margin-right: 0px;
  }

  .footer_credit_logo_rectangle {
    width: 110px;
  }

  .footer_fine_print {
    flex-wrap: wrap;
    margin: 5px 0px;
  }

  .footer_fine_print p {
    font: 300 7pt 'Lato', 'sans-serif';
    margin: 0px 0px 0px 0px;
    text-align: center;
    width: 100%;
  }

}

@media only screen and (max-width: 640px) {

  .footer_link_container {
    width: 50%;
  }

  .footer_credit_logos a {
    width: 50%;
  }

}