.help_wrapper {
  background-color: rgba(255, 255, 255, 1);
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0px 0px 0px;
  max-height: 75vh;
  overflow: auto;
}