@media only screen and (max-width: 2560px) {

}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 360px) {



  .sign_up_modal {
    /* animation: fade_in .2s ease-in-out 1;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 50%;
    max-width: 75%;
    min-width: 50%;
    position: fixed;
    top: 10%;
    transform: translateX(-50%);
    z-index: 500; */
    max-width: 95%;
    width: 100%;
  }

  .sign_up_wrapper {
    justify-content: flex-start;
    overflow: auto;
    max-height: 75vh;
  }

  .sign_up_form {
    height: auto;
  }

  .sign_up_input_sub_container input {
    padding: 15px;
    width: 85%;
  }

  .sign_up_tos_sub_container {
    width: 100%;

  }

  .tos_check_box_container {
    width: 85%;
  }

  .sign_up_tos_sub_container p {
    font: 300 8pt 'Lato';
  }

  .sign_up_form_error_container {

  }

  .sign_up_form_error {
    padding: 5px 10px;
    width: 95%;
  }

  .sign_up_form_error span {
    font: 300 8pt "Roboto", sans-serif;
  }

}