.trend_arrow_legend {
  margin: auto 0px;
  opacity: 0.5;
}

.stats_legend_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px 0px;
  /* opacity: 0.7; */
}

.stats_legend_container span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: rgba(102, 102, 102, 1);
  font: 300 8pt "LatoItalic";
  text-align: center;
}

.stats_legend_container span span {
  color: rgba(102, 102, 102, 1);
  font: 300 8pt "LatoItalic";
  text-align: center;
}