.edit_profile_form_header {
  width: 100%;
  padding: 5px 0px 5px 0px;
  z-index:8;
}

.edit_profile_form_header > * {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

.edit_profile_form_header h2 {
  font: 400 20pt 'Lato', sans-serif;
}

.edit_profile_form_header h3 {
  font: 300 20pt 'Lato', sans-serif;
}

.edit_profile_form_header h4 {
  font: 300 15pt 'Lato', sans-serif;
}

.edit_profile_form_header h5 {
  font: 300 10pt 'Lato', sans-serif;
}

.edit_profile_form {
  width: 100%;
  text-align: center;
  /* margin: 0 auto 0px auto; */
  animation: fade_in .25s ease-in-out 1;
}

.edit_profile_form label {
  animation: fade_in .4s ease-in-out 1;
}

.edit_div {
  margin: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.edit_div img {

}

.edit_div > * {
  animation: fade_in .4s ease-in-out 1;
}

.edit_div label {
  font: 300 10pt 'Poppins', sans-serif;
  border: 0px;
}

.edit_div input,
.edit_div textarea {
  font: 400 12px "Helvetica", sans-serif;
  padding: 10px;
  width: 50%;
  max-width: 350px;
  /* line-height: 1.25; */
  border: 0px solid grey;
}

.edit_div_select {
  position: relative;
  isolation: isolate;
  font: 400 12px "Helvetica", sans-serif;
  padding: 10px;
  width: 50%;
  max-width: 350px;
  /* line-height: 1.25; */
    display: flex;
  border: 0px solid grey;
  cursor: pointer;
  outline: -webkit-focus-ring-color auto 0px;
}

.edit_div_select_option {
  position: relative;
  font: 400 12px "Helvetica", sans-serif;
  padding: 10px;
  width: 50%;
  max-width: 350px;
  cursor: pointer;
    display: flex;
    white-space: pre;
    min-height: 0em;
  /* line-height: 1.25; */
  /* border-width: 0px solid grey; */
  outline: -webkit-focus-ring-color auto 0px;
}

.edit_div_flag_img {
  padding-bottom: 5px;
}

.edit_profile_form_error_container {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}