.results_achievement_card {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px;
  height: 140px;
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis: 200px;
}

.results_achievement_card_img_container img {
  padding: 5px 0px;
  border-radius: .5em;
  border: 1px solid rgba(255, 255, 255, 1);
}

.results_achievement_card_text_container h4 {
  font: 600 10pt 'Lato';
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.results_achievement_card_text_container h5 {
  font: 300 9pt 'LatoItalic';
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}