.results_achievement_card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  align-self: flex-start;
  padding: 0px 5px;
  height: 140px;
  flex-grow: 1;
  flex-shrink: 3;
  flex-basis: 175px;
}

.results_achievement_card_img_container {

}

.results_achievement_card_img_container img {
  padding: 5px 0px;
}

.results_achievement_card_text_container {
  /* width: 100%; */
  /* max-width: 150px; */
  /* width: 175px; */
  /* min-width: 100px; */
}

.results_achievement_card_text_container h4 {
  font: 600 10pt 'Lato';
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.results_achievement_card_text_container h5 {
  font: 300 9pt 'LatoItalic';
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}