@media only screen and (max-width: 768px) {

  .dashboard_wrapper {
    width: calc(330px + (700 - 330) * ((100vw - 360px) / (769 - 360)));
  }

  .dashboard_header {
    border-radius: 0px;
  }

  .dashboard_header_left,
  .dashboard_sub_header_left {
    justify-content: center;
  }

  .dashboard_date_container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dashboard_date_sub_container {
    margin: 0px;
  }

  .dashboard_profile_field h3 {
    text-align: center;
    padding: 5px 0px 0px 0px;
  }

  .dashboard_profile_field ul {
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px 0px 5px 0px;
  }

  .dashboard_profile_field li span {
    margin: 0px;
  }

  .edit_profile_input_container h3,
  .edit_profile_input_container_last h3 {
    text-align: center;
    padding: 5px 0px 0px 0px;
  }

  .edit_profile_input_sub_container {
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px 0px 5px 0px;
  }

  .edit_profile_input_sub_container h3 {
    text-align: center;
  }

  .edit_profile_image_sub_container {
    flex-direction: column;
    padding: 5px 0px;
  }

  .edit_profile_avatar_img {
    margin: 0px 0px 10px 0px;
  }

  .edit_profile_input_sub_container input,
  .edit_profile_input_sub_container textarea,
  .edit_profile_select {
    width: calc(250px + (600 - 250) * ((100vw - 360px) / (769 - 360)));
    max-width: 500px;
  }

  .user_achievement_card {
    flex-basis: 150px;
  }

}