@media only screen and (max-width: 2560px) {

}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

  .dashboard_wrapper {
    width: calc(150px + (400 — 150) * ((100vw — 360px) / (769 — 360)));
  }

  .dashboard_header {
    border-radius: 0px;
  }

  .dashboard_date_container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .dashboard_profile_field ul {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .edit_profile_input_sub_container {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .edit_profile_input_sub_container h3 {
    text-align: center;
  }

  .edit_profile_image_sub_container {
    flex-direction: column;
  }

  .edit_profile_avatar_img {
    margin: 0px 0px 10px 0px;
  }

  .edit_profile_input_sub_container input,
  .edit_profile_input_sub_container textarea,
  .edit_profile_select {
    width: calc(150px + (300 — 150) * ((100vw — 360px) / (769 — 360)));
  }

  .user_achievement_card {
    flex-basis: 150px;
  }

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 360px) {

}