.user_profile_wrapper {
  background-color: rgba(50, 50, 50, 1);
  margin: 20px 0px 20px 0px;
  width: 100%;
  padding: 10px 15px 10px 15px;
}

.user_profile_wrapper h2 {
  font: 600 15pt "LatoThin";
  text-align: center;
  padding: 25px 0px;
}