@media only screen and (max-width: 768px) {

  .user_profile_wrapper {
    width: calc(330px + (700 - 330) * ((100vw - 360px) / (769 - 360)));
  }

  .user_profile_header_date_container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .user_profile_header_date_sub_container {
    margin: 0px 15px;
  }

  .user_profile_header_date_sub_container h4 {
    font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (769 - 360)));
  }

  .user_profile_info_sub_container span {
    padding: 15px 5px 15px 5px;
    text-align: center;
  }

  .user_achievements_sub_container h3 {
    padding: 15px 0px 15px 0px;
  }

  .user_profile_question_card_container h1 {
    padding: 5px;
  }

  .user_profile_comment_container {
    padding: 5px;
  }

}