@media only screen and (max-width: 768px) {

  .container_profile_header {
    border-radius: 0px;
  }

  .container_profile_header_top {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
  }

  .container_profile_header_top_left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container_profile_header_top_left_img {
  margin: 0px 0px 0px 0px;
}

  .container_profile_header_top_left_text {
    justify-content: center;
    padding: 5px 0px 5px 0px;
  }

  .container_profile_header_top_left_text_sub_countainer {
    display: block;
  }

  .container_profile_header_top_left_text_top {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .container_profile_header_top_left_text_bottom {
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .container_profile_header_top_left_text_top h3 {
    margin: 0px;
  }

  .container_profile_header_top_right {
    margin: 10px 0px 0px 0px;
    width: 100%;
  }

}