.container_profile_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: rgb(255, 255, 255, 1);
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(0, 0, 51, 1);
  padding: 15px;
}

.container_profile_header_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0px 15px 0px 0px;
}

.container_profile_header_top_left {
  display: flex;
  flex-direction: row;
}

.container_profile_header_top_left_img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.container_profile_header_top_left_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left: .5em;
}

.container_profile_header_top_left_text_sub_countainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container_profile_header_top_left_text_top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  font: 300 10pt 'LatoLightItalic';
}

.container_profile_header_top_left_text_bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-end;
  font: 300 9pt 'Lato';
  width: 100%;
}

.container_profile_header_top_left_text_sub_countainer span {
  margin: 0px 5px 0px 0px;
}

.container_profile_header_top_left_text_sub_countainer img {
  padding-right: 5px;
}

.container_profile_header_top_left_text h3 {
  font: 600 20pt 'LatoThin', sans-serif;
  margin: 0px 0px 5px 0px
}

.container_profile_header_bottom {
  width: 100%;
  margin: 10px 0px 20px 0px;
}

.container_profile_header_bottom p {
  font: 300 10pt 'Lato';
  padding: 0px 25px;
}
