
.vote_totals_graph_container {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(225, 225, 225, 1));
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  font: 300 14pt 'Lato', sans-serif;
  justify-content: center;
  list-style: none;
  margin: 0px auto;
  padding: 0px 0px;
  width: 80%;
}

.vote_totals_profile_graph_container {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(225, 225, 225, 1));
  align-items: center;
  align-content: center;
  /* border: 1px solid rgba(200, 200, 200, 1); */
  display: flex;
  flex-direction: column;
  font: 300 14pt 'Lato', sans-serif;
  justify-content: center;
  list-style: none;
  margin: 0px auto;
  padding: 5px 10px;
  width: 80%;
}

.vote_totals_graph_wrapper {
  background: rgba(255, 255, 255, 1);
  margin: -1px;
  padding: 5px 0px 0px 5px;
  width: calc(100% - 2px);
}


.vote_totals_graph_sub_header_container {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(225, 225, 225, 1));
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font: 300 15pt 'Lato', sans-serif;
  justify-content: center;
  /* margin: 2.5px 0px 10px 0px; */
  /* padding: 5px 0px; */
  width: 100%;
}

.vote_totals_graph_sub_header_container_left {
  background: rgba(255, 255, 255, 1);
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 1px 0px;
  padding: 5px 10px 10px 5px;
  /* padding: 0px; */
}

.vote_totals_graph_sub_header_container_left img {
  align-self: center;
}

.vote_totals_graph_sub_header_container_left span {
  /* color: rgba(255, 255, 255, 1); */
  color: rgba(50, 50, 50, 1);
  font: 300 10pt 'Lato', sans-serif;
  min-width: 65px;
  padding: 0px 5px 0px 0px;
  /* text-align: center; */
}

.vote_totals_graph_sub_header_container_center {
  background: rgba(255, 255, 255, 1);
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font: 300 15pt 'Lato', sans-serif;
  justify-content: flex-start;
  margin: 1px 0px;
  padding: 5px 10px 10px 5px;
  flex-grow: 2;
  /* height: 100%; */
}

.vote_totals_graph_sub_header_container_center span {
  color: rgba(255, 255, 255, 0);
  font: 300 10pt 'Lato', sans-serif;
  padding: 0px 5px 0px 0px;
}

.vote_totals_graph_sub_header_container_center div span {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font: 300 10pt 'Lato', sans-serif;
  justify-content: flex-start;
  margin: 0px;
  max-width: 65px;
  padding: 0px;
}

.vote_totals_graph_sub_header_container_right {
  background: rgba(255, 255, 255, 1);
  flex-shrink: 2;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1px 0px;
  padding: 5px 10px 10px 5px;
}

.vote_totals_graph_sub_header_container_right span {
  /* color: rgba(255, 255, 255, 1); */
  color: rgba(50, 50, 50, 1);
  font: 300 10pt 'Lato', sans-serif;
  min-width: 65px;
  padding: 0px 5px;
  text-align: center;
}

.vote_totals_graph_row_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  font: 300 15pt 'Lato', sans-serif;
  justify-content: center;
  margin: 2.5px 0px;
  width: 100%;
}

.vote_totals_graph_row_container_left {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px 0px 5px;
}

.vote_totals_graph_row_container_left img {
  /* filter: grayscale(100%); */
  align-self: center;
}

.vote_totals_graph_row_container_center {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font: 300 15pt 'Lato', sans-serif;
  margin: 0px;
  padding: 0px 5px;
  flex-grow: 2;
}

/* .vote_bar {
  display: 'flex';
  color: rgba(50, 50, 50, 1);
  align-content: 'flex-end';
  align-items: 'flex-end';
  align-self: 'stretch';
  box-sizing: "border-box";
  background: rgba(23, 90, 54, 1);
  padding: 2.5px 5px;
  width: 0%;
  transition: 'width 1s ease-in-out 0s'
} */

/* .vote_totals_graph_row_container_center div span {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font: 300 10pt 'Lato', sans-serif;
  justify-content: flex-start;
  margin: 0px;
  max-width: 65px;
  padding: 0px;
} */

.vote_totals_graph_row_container_right {
  flex-shrink: 2;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px 10px 0px 15px;
}

.vote_totals_graph_row_container_right span {
  /* color: rgba(255, 255, 255, 1); */
  color: rgba(50, 50, 50, 1);
  font: 300 10pt 'LatoItalic', sans-serif;
  min-width: 65px;
  padding: 0px 5px;
  text-align: center;
}
