select:not(:-internal-list-box) {
  overflow: hidden !important;
}

.loading_wrapper {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0px 0px 0px;
  z-index: 500;
}

.log_in_wrapper {
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.log_in_header {
  box-sizing: border-box;
  margin: 10px 0px 5px 0px;
  text-align: center;
  width: 100%;
}

.log_in_header h2 {
	font: 400 20pt 'Lato', sans-serif;
}

.log_in_header h3 {
  font: 300 20pt 'Lato', sans-serif;
}

.log_in_header h4 {
  font: 300 15pt 'Lato', sans-serif;
}

.log_in_header h5 {
  font: 300 10pt 'Lato', sans-serif;
}