.home_button_wrapper {
  background-color: rgba(50, 50, 50, 1);
  width: 100%;
}

.home_button_text_container {
  display: block;
  width: 100%;
}

.home_button_text_container span {
  color: rgba(255, 255, 255, 1);
  font: 300 10pt 'PoppinsLight', sans-serif;
}

.home_button_wrapper:hover {
  cursor: pointer;
  background-color: rgba(244, 166, 66, 1);
  outline: -webkit-focus-ring-color auto 0px;
  transition: background-color .2s ease-in-out 0s;
}

.home_button_wrapper:hover .home_button_text_container span {
  color: rgba(50, 50, 50, 1);
  font: 600 10pt 'PoppinsLight', sans-serif;
}

.home_button_text_container_active span {
  display: block;
  font: 600 10pt 'PoppinsLight', sans-serif;
  opacity: 1;
}

.home_button_wrapper_active {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(244, 166, 66, 1);
  width: 100%;
  /* width: 0px; */
  /* transition: all .1s ease-in-out 0s; */
  /* transition-property: width; */
}

.home_button_text_container_active {
  font: 600 10pt 'PoppinsLight', sans-serif;
}

.home_button_wrapper:active .home_button_text_container span,
.home_button_wrapper:active .home_button_text_container_active span {
  color: rgba(50, 50, 50, 1);
  display: block;
  opacity: 0;
  font: 600 10pt 'PoppinsLight', sans-serif;
  transform: translate(0px, 15px);
  transition: all .15s ease-in-out 0s;
  transition-property: opacity, transform;
  outline: -webkit-focus-ring-color auto 0px;
}