.docs_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  border: 0px;
  padding: 5px 10px;
  height: 35px;
}

.docs_header_left {
  align-self: stretch;
  display: flex;
}

.docs_header_left h1 {
  align-self: center;
  display: flex;
  font: 600 15pt "LatoLight";
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

.docs_header_right {
  align-self: stretch;
  display: flex;
  text-align: center;
  justify-content:center;
}

.docs_header_right h2 {
  align-self: center;
  display: flex;
  font: 300 8pt "LatoItalic";
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
  text-align: center;
}