.dashboard_settings_privacy_profile_card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 0em 3.5em 0em 2em;
  margin: 5px 0px;
}

.dashboard_settings_privacy_profile_card span {
  color: rgba(225, 225, 225, 1);
  font: 300 10pt 'Lato', sans-serif;
}

.dashboard_settings_privacy_profile_card_check {
  align-self: center;
}