/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
} */

/* ::selection {
  background-color: #FFF;
  color: #FFF;
} */

/* input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.input:-internal-autofill-selected:disabled {
  width: 25%;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  box-sizing: unset;
  align-items: center;
  white-space: normal;
  background: rgba(175, 175, 175, 1);
  cursor: default;
  margin: 0em;
  color: #FFF;
  line-height: 1.3;
  padding: 5px;
  border: 1px solid rgba(175, 175, 175, 1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* ::placeholder {
  color: #000;
  opacity: 1;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid rgba(200, 200, 200, 1); */
  color: rgba(255, 255, 255, 1) !important;
  border: 0px solid rgba(200, 200, 200, 1);
  -webkit-box-shadow: 0 0 0px 100px #FFF inset;
}

input:-webkit-autofill:disabled,
textarea:-webkit-autofill:disabled,
select:-webkit-autofill:disabled {
  border: 0px solid rgba(200, 200, 200, 1);
  cursor: default;
  -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
  -webkit-box-shadow: 0 0 0px 100px rgba(50, 50, 50, 1) inset;
}


select:not(:-internal-list-box) {
  overflow: hidden !important;
}

.blank {
  opacity: 0;
  visibility: hidden;
}

.main_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* margin: 0px auto; */
  background-color: rgba(255, 255, 255, 1);
  z-index: 0;
}

.default_wrapper {
  z-index: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  /* height: 100 */
  /* min-height: 83.30vh; */
  min-height: calc(100vh - 175px);
}