.user_achievement_card {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  height: 150px;
  width: 150px;
  margin: 15px;
}

.user_achievement_card h4 {
  background: rgba(251, 223, 187, 1);
  font: 600 10pt 'Lato';
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 5px 0px;
  text-align: center;
  width: 100%;
}

.user_achievement_card h5 {
  font: 300 9pt 'LatoItalic';
  margin: 0px 5px;
  text-align: center;
}

.user_achievement_card_locked {
  background: rgba(225, 225, 225, 1);
}

.user_achievement_card_locked h4 {
  background: rgba(225, 225, 225, 1);
  border-radius: 5px 5px 0px 0px;
  color: rgba(150, 150, 150, 1);
}

.user_achievement_card_locked h5 {
  color: rgba(175, 175, 175, 1);
}

.user_achievement_card_img_unlocked {
  padding: 5px 0px;
}

.user_achievement_card_img_locked {
  padding: 5px 0px;
  filter: grayscale(100%);
  opacity: 0.5;
}