.user_profile_comments_container {
  min-height: 75px;
  margin: 0px 0px 45px 0px;
}

.user_profile_comment_cards_container {
  background: rgba(255, 255, 255, 1);
  margin: 1px 0px 0px 0px;
  padding: 15px 0px 1px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}