.leader_boards_buttons_row_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  /* background: rgba(50, 50, 50, 1); */
  border: 0px;
}