.log_in_form {
  width: 100%;
  text-align: center;
  margin: 0 auto 0px auto;
  box-sizing: border-box;
}

.log_in_div {
  margin: 0px;
}

.log_in_error_container {
  margin: 0px auto 10px auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}