.log_in_form {
  text-align: center;
  width: 100%;
}

.log_in_error_container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}