.logged_out_auth_buttons_container {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto 0 auto;
}