.dashboard_header_button {
  -webkit-appearance: none;
  text-rendering: auto;
  color: rgb(225, 225, 225, 1);
  background: rgba(50, 50, 50, 0);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-self: stretch;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  font: 300 10pt 'Poppins', sans-serif;
  padding: 5px 25px 5px 10px;
  border: 0px;
  box-sizing: border-box;
  width: 100%;
  outline: -webkit-focus-ring-color auto 0px;
}

.dashboard_header_button:hover {
  font: 300 10pt 'Poppins', sans-serif;
  color: rgba(50, 50, 50, 1);
  background: rgba(244, 166, 66, 1);
}

.dashboard_header_button:active {
  /* animation: scale_out .1s ease-in-out 1; */
}

.dashboard_header_button_disabled {
  -webkit-appearance: none;
  align-items: flex-start;
  background: rgba(175, 175, 175, 0);
  border: 0px;
  box-sizing: border-box;
  color: rgb(225, 225, 225, 0.5);
  cursor: not-allowed;
  display: inline-block;
  font: 400 15px Roboto;
  letter-spacing: normal;
  margin: 0px;
  outline: -webkit-focus-ring-color auto 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}