select:not(:-internal-list-box) {
  overflow: hidden !important;
}

.edit_profile_wrapper {
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}