@media only screen and (max-width: 2560px) {

}

@media only screen and (max-width: 1920px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 768px) {

  .edit_profile_modal {
    width: calc(300px + (500 - 300) * ((100vw - 360px) / (769 - 360)));
  }

  .edit_profile_modal_input_sub_container input,
  .edit_profile_modal_input_sub_container input:disabled {
    width: calc(250px + (400 - 250) * ((100vw - 360px) / (769 - 360)));
  }

  .edit_profile_form_error {
    width: calc(250px + (400 - 250) * ((100vw - 360px) / (769 - 360)));
  }

  .edit_profile_form_error span {
    font-family: 'Roboto';
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (769 - 360)));
    font-weight: 300;
  }

}

@media only screen and (max-width: 640px) {


}

@media only screen and (max-width: 360px) {

}