.results_comment_error_container {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto 10px auto !important;
  max-width: 500px;
  min-width: 60%;
}

.results_edit_comment_error_container {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0px auto 10px auto !important;
  width: 60%;
}

.results_comment_error_item {
  background: rgba(168, 62, 50, 0.75);
  border: 1px solid rgba(168, 62, 50, 1);
  box-sizing: border-box;
  color: rgba(200, 200, 200, 1);
  font: 400 10px "Helvetica", sans-serif;
  padding: 5px 10px;
  width: 75%;
}