.user_profile_question_card_container {
  background: rgba(255, 255, 255, 1);
  margin: 1px 0px 0px 0px;
  padding: 5px 15px;
}

.user_profile_question_card_wrapper {
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  margin: 1px 0px;
  padding: 10px 15px;
}

.user_profile_question_card_container span {
  color: rgba(50, 50, 50, 1);
  font: 300 10pt 'Lato';
}