.dashboard_sub_header {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
  padding: 5px;
}

.dashboard_sub_header_left {
  display: flex;
}

.dashboard_sub_header_left h3 {
  align-self: center;
  padding: 0px 0px 0px 5px;
  font: 300 15pt "PoppinsLight";
}

.dashboard_sub_header_right {
  display: flex;
}

.dashboard_sub_header_right span {
  align-self: center;
  font: 300 9pt 'LatoItalic';
}